body {
  margin: 0;
  font: 0.8rem/1.6 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapper { 
  margin: 0 auto;
  padding: 60px 40px;
  max-width: 800px;
}

h1 {
  margin: 0 0 10px;
}

.accordion {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1), -5px -5px 10px rgba(0,0,0,0.07);
}

.accordion p {
  margin: 0 0 16px;
}

.accordion p:last-child {
  margin: 0;
}

.accordion__item .accordion__button {
  border-top: 1px solid #6580B2;
}

.accordion__item:first-child .accordion__button {
  border: none;
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.accordion__content-holder {
  padding: 20px;
}

.accordion__button {
  position: relative;
  min-height: 42px;
  border: none;
  background-color: cornflowerblue;
  padding: 5px 50px 5px 10px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  color: white;
  display: flex;
  transition: background-color 0.3s ease-in-out;
  outline: none;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.accordion__button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url(../image/arrow.svg) no-repeat 100% 100%;
  background-size: 100% 100%;
  margin-top: 2px;
  transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.is-open .accordion__button:after {
  transform: rotate(-180deg) translateY(50%);
  margin-top: -1px;
}

.accordion__button:hover {
  background-color: #214B9A;
}

.is-open .accordion__button {
  background-color: #214B9A;
}

@media (max-width: 767.98px) {
  .wrapper {
    padding: 25px 20px;
  }

  .accordion__content-holder {
    padding: 15px;
  }
}